<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: nav"></nav>
<div class="container">
    <h3>Employees Directory</h3>
    <hr>

    <!-- Add New employee Button -->
    <a th:href="@{/employees/new}"
       class="btn btn-primary btn-sm mb-3">
        New Employee
    </a>
    <table>
        <thead class="table table-bordered table-striped">
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>